
<%= simple_form_for @raffle do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :type %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :probable_draw_date %>
    <%= f.input :start_date_sale %>
    <%= f.input :end_date_sale %>
    <%= f.input :draw_date %>
    <%= f.input :ticket_value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Create Raffle' : 'Update Raffle', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>



