<% content_for :title do %>
  Edit Raffle
<% end %>

<div class="page-header">
  <h1>Edit Raffle</h1>
  <div>
    <%= link_to @raffle, class: 'btn btn-info' do %>
      <%= icon 'fas', 'eye' %>
      Show
    <% end %>
    <%= link_to new_type_path, class: 'btn btn-warning' do %>
      <%= icon 'fas', 'plus' %>
      Add Type
    <% end %>
    <%= link_to new_prize_path, class: 'btn btn-success' do %>
      <%= icon 'fas', 'plus' %>
      Add Prize
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<%= render 'form' %>
