<% content_for :title do %>
  Raffles
<% end %>

<div class="page-header">
  <% if user_signed_in? %>
  <%= link_to new_raffle_path, class: 'btn btn-secondary ' do %>
    <%= icon 'fas', 'plus' %>
    New Raffle
  <% end %>
  <% end %>
</div>

<div class="card-columns">
  <% @raffles.each do |raffle| %>
    <div class="card border-secondary" style="max-width: 18rem;">
    <div class="card-header"><%=raffle.title%></div>
      <div class="card-body">
        <h5 class="card-title"><%=raffle.type%></h5>
        <p class="card-text"><%= raffle.description%></p>
        <%= link_to raffle, class: 'btn btn-info btn-sm' do %>
          <%= icon 'fas', 'eye', class: 'fa-fw' %>
        <% end %>
        <% if user_signed_in?  %>
        <% if current_user == raffle.user  %>
        <%= link_to edit_raffle_path(raffle), class: 'btn btn-success btn-sm' do %>
          <%= icon 'fas', 'edit', class: 'fa-fw' %>
        <% end %>
        <%= link_to raffle, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
          <%= icon 'fas', 'times', class: 'fa-fw' %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>