<% content_for :title do %>
  Raffle's Details
<% end %>


<div class="card border-secondary">
<div class="card-header">
  <div class="d-flex justify-content-between">
  <div><h4 class="card-title"><%= @raffle.title%></h4></div>
  <div>  
    <% if current_user == @raffle.user  %>
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
    </div>
  </div>
</div>
<div class="card-body">
    
    <h4 class="card-text">Value: <%= @raffle.ticket_value%></h4>
    <h5 class="card-text">Creator: <%= @raffle.user.name%></h5>
    <h6 class="card-text">Stard Sale: <%= @raffle.start_date_sale.strftime("%T %F")%></h6>
    <h6 class="card-text">End Sale: <%= @raffle.end_date_sale.strftime("%T %F")%></h6>
    <h6 class="card-text">Draw: <%= @raffle.draw_date.strftime("%T %F")%></h6>
    <p class="card-text">Description: <%= @raffle.description%></p>
    
  </div>
  </div>
  <h5 class='page-header'>Prizes: </h5>
<div class="card-columns">
  <% @raffle.prizes.each do |prize| %>
    <div class="card bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Placing: <%=prize.placing%></div>
      <div class="card-body">
        <p class="card-text">Prize: <%= prize.description%></p>
        <%= link_to prize, class: 'btn btn-outline-info btn-sm' do %>
          <%= icon 'fas', 'eye', class: 'fa-fw' %>
        <% end %>
        <% if user_signed_in?  %>
        <% if current_user == @raffle.user  %>
        <%= link_to edit_prize_path(prize), class: 'btn btn-outline-success btn-sm' do %>
          <%= icon 'fas', 'edit', class: 'fa-fw' %>
        <% end %>
        <%= link_to prize, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-outline-danger btn-sm' do %>
          <%= icon 'fas', 'times', class: 'fa-fw' %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h5 class='page-header'>Tickets: </h5>
<div class="card-columns">
  <% @raffle.tickets.each do |ticket| %>
  <% if ticket.user%>
    <div class="card bg-secondary mb-3" style="max-width: 18rem;">
  <% else %>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
  <%end%>
    <div class="card-header">Raffle: <%=ticket.raffle.title%></div>
      <div class="card-body">
      <div class="d-flex justify-content-center">
        <% if ticket.user %>
        <p class="card-text"><%= ticket.number%></p>
        <%end%>
        </div>
        <div class="d-flex justify-content-around">
        <% if !ticket.user %>
        <%= link_to ticket, ticket_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modalBuy', class: 'btn btn-info btn-md'}  %>
        <div id="modalBuy" class="modal hide fade" role="dialog" aria-labelledby="buyTicket" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" id="formBuy">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Buy Ticket?</b></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-sm">YES!</button>
                        <button type="cancel" class="btn btn-danger btn-sm" data-dismiss="modal">NOP</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
          <% end %>
      </div>
      </div>
    </div>
  <% end %>
</div>



