<% content_for :title do %>
  Raffle's Details
<% end %>

<div class="page-header">
  <h1>Raffle's Details</h1>
  <div>
    <% if current_user == @raffle.user  %>
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @raffle.user.name %></dd>

  <dt>Type:</dt>
  <dd><%= @raffle.type %></dd>

  <dt>Title:</dt>
  <dd><%= @raffle.title %></dd>

  <dt>Description:</dt>
  <dd><%= @raffle.description %></dd>

  <dt>Probable draw date:</dt>
  <dd><%= @raffle.probable_draw_date %></dd>

  <dt>Start date sale:</dt>
  <dd><%= @raffle.start_date_sale %></dd>

  <dt>End date sale:</dt>
  <dd><%= @raffle.end_date_sale %></dd>

  <dt>Draw date:</dt>
  <dd><%= @raffle.draw_date %></dd>

  <dt>Ticket value:</dt>
  <dd><%= @raffle.ticket_value %></dd>

  <dt>Prizes:</dt>
  <dr><%= @raffle.prizes %></dr>

</dl>
