<% content_for :title do %>
  Phones
<% end %>

<div class="page-header">
  <h1>Phones</h1>
  <%= link_to new_phone_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    Novo Phone
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Contact</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @phones.each do |phone| %>
        <tr>
          <td><%= phone.number %></td>
          <td><%= phone.contact %></td>
          <td>
            <%= link_to phone, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_phone_path(phone), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to phone, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>