<% content_for :title do %>
  Type's Details
<% end %>

<div class="page-header">
  <h1>Type's Details</h1>
  <div>
    <%= link_to edit_type_path(@type), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <%= link_to types_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @type.description %></dd>

  <dt>Inicial number:</dt>
  <dd><%= @type.inicial_number %></dd>

  <dt>Step:</dt>
  <dd><%= @type.step %></dd>

  <dt>Ticket quantities:</dt>
  <dd><%= @type.ticket_quantities %></dd>

</dl>
