<% content_for :title do %>
  Ticket's Details
<% end %>

<div class="page-header">
  <h1>Ticket's Details</h1>
  <div>
    <%= link_to edit_ticket_path(@ticket), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <%= link_to tickets_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Raffle:</dt>
  <dd><%= @ticket.raffle.description %></dd>

  <dt>User:</dt>
  <dd><%= @ticket.user.name %></dd>

  <dt>Number:</dt>
  <dd><%= @ticket.number %></dd>

</dl>
