<% content_for :title do %>
  Detalhes de Contact
<% end %>

<div class="page-header">
  <h1>Detalhes de Contact</h1>
  <div>
    <%= link_to edit_contact_path(@contact), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to contacts_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @contact.name %></dd>

  <dt>Email:</dt>
  <dd><%= @contact.email %></dd>

  <dt>Remark:</dt>
  <dd><%= @contact.remark %></dd>

  <dt>Kind:</dt>
  <dd><%= @contact.kind %></dd>

  <dt>Company:</dt>
  <dd><%= @contact.company %></dd>

</dl>
