<% content_for :title do %>
  Adresses
<% end %>

<div class="page-header">
  <h1>Adresses</h1>
  <%= link_to new_adress_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    Novo Adress
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Contact</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @adresses.each do |adress| %>
        <tr>
          <td><%= adress.street %></td>
          <td><%= adress.city %></td>
          <td><%= adress.state %></td>
          <td><%= adress.contact %></td>
          <td>
            <%= link_to adress, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_adress_path(adress), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to adress, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>